/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #e99f12;
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
}
::selection {
  color: #fff;
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
}
.wrapper {
  width: 370px;
  padding: 25px 30px;
  border-radius: 7px;
  background: black;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.wrapper header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form {
  margin: 35px 0 20px;
}
form .row {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
form .row label {
  font-size: 18px;
  margin-bottom: 5px;
}
form .row:nth-child(2) label {
  font-size: 17px;
}
form :where(textarea, select, button) {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}
form .row textarea {
  resize: none;
  height: 110px;
  font-size: 15px;
  padding: 8px 10px;
  border: 1px solid #999;
}
form .row textarea::-webkit-scrollbar {
  width: 0px;
}
form .row .outer {
  height: 47px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #999;
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
}
form .row select {
  font-size: 14px;
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
  color: black;
}
form .row select::-webkit-scrollbar {
  width: 8px;
}
form .row select::-webkit-scrollbar-track {
  background: white;
}
form .row select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
form button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
  transition: 0.3s ease;
}
form button:hover {
  background: #e99f12;
}

@media (max-width: 400px) {
  .wrapper {
    max-width: 345px;
    width: 100%;
  }
}
img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}
textarea {
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
}
input[type="file"] {
  display: none;
}
.load-items {
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  background-image: linear-gradient(
    320deg,
    hsl(19deg 59% 28%) 0%,
    hsl(23deg 63% 34%) 9%,
    hsl(27deg 68% 38%) 18%,
    hsl(31deg 73% 42%) 27%,
    hsl(34deg 74% 46%) 36%,
    hsl(34deg 71% 52%) 45%,
    hsl(34deg 79% 57%) 55%,
    hsl(34deg 90% 62%) 64%,
    hsl(35deg 94% 67%) 73%,
    hsl(38deg 94% 72%) 82%,
    hsl(40deg 95% 77%) 91%,
    hsl(43deg 98% 82%) 100%
  );
  transition: 0.3s ease;
}
.load-items:hover {
  background: #e99f12;
}
